<div class="box wide">
	<div class="legend">
		重置密码
	</div>

  <p>
  如果你忘记了密码，请输入你的邮箱地址或者用户名，重置的说明文档会发送到你的邮箱。
  </p>

  <%= form_tag reset_password_url do %>
    <%= label_tag :email, "E-mail或用户名:" %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag "重置密码" %>
    </p>
  <% end %>
</div>
